<form method="post" action="/contact/new">
  <p>
    <label for="name">Name</label>
    <input name="name" type="text">
  </p>
  <p>
    <label for="phone">Phone</label>
    <input name="phone" type="tel">
  </p>
  <p>
    <label for="pings">Pings</label>
    <input name="pings" type="number" placeholder="0">
  </p>
  <p><input type="submit" value="Save contact"></p>
</form>
