<main>
  <form method="post" action="/stories/<%= @story.id %>?from=<%= @from %>">
    <h1>Edit story</h1>
    <input type="hidden" name="_method" value="put">
    <%= erb(:'stories/form', :locals => {:story => @story}) %>
  </form>
</main>
