/* style.css */

html {
  -webkit-text-size-adjust: none;
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: #000;
  font-family: -apple-system, sans-serif;
  margin: 0;
  padding: 3rem;
}

h1 {
  margin-bottom: 2em;
}

p,
li {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 2rem 0;
  line-height: 2rem;
}

a {
  color: #1968e2;
}

a.active {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

a.delete {
  color: #e43161;
}

form {
  background-color: #eee;
  padding: 1rem 3rem;
  margin-bottom: 3rem;
}

label {
  display: inline-block;
  width: 10rem;
  font-weight: 500;
}

input {
  font-size: 2rem;
}

input[type="submit"] {
  font-size: 2rem;
  background-color: #000;
  border: none;
  color: #fff;
  padding: 1rem;
}

table {
  width: 100%;
}

th,
td {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 3rem 0;
  line-height: 3rem;
}

th {
  font-weight: bold;
  text-align: left;
}

td:last-child {
  text-align: right;
}

nav {
  margin-bottom: 3rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 1.5rem;
}

menu {
  display: inline;
  margin: 0;
  padding: 0;
}

menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

menu li {
  display: inline;
  margin-right: 1.5rem;
}

.is-marked {
  opacity: 0.5;
}

.is-deleted {
  display: none;
}
