<main>
  <form method="post" action="/contacts/<%= @contact.id %>">
    <h1>Edit contact</h1>
    <input type="hidden" name="_method" value="put">
    <%= erb(:'contacts/form', :locals => {:contact => @contact}) %>
  </form>
</main>
