<p>
  <label for="name">Name</label>
  <input name="name" type="text" value="<%= contact.name %>">
</p>
<p>
  <label for="phone">Phone</label>
  <input name="phone" type="tel" value="<%= contact.phone %>">
</p>
<p>
  <label for="pings">Pings</label>
  <input name="pings" type="number" placeholder="0" value=" value="<%= contact.pings %>">
</p>
<p>
  <input type="submit" value="Save contact">
</p>
