<div class="fields">
  <label for="name">Name</label>
  <p class="inputs">
    <input name="name" type="text" id="name" value="<%= contact.name %>">
  </p>
</div>
<div class="fields">
  <label for="phone">Phone</label>
  <p class="inputs">
    <input name="phone" type="tel" id="phone" value="<%= contact.phone %>">
  </p>
</div>
<div class="fields">
  <label for="rings">Rings</label>
  <p class="inputs">
    <input name="rings" type="number" id="rings" value="<%= contact.rings ||= ENV['DEFAULT_RINGS'] %>">
    maximum
  </p>
</div>
<hr>
<div class="fields">
  <ul class="buttons">
    <li><input type="submit" value="Save contact"></li>
    <li><a href="/contacts" class="secondary">Cancel</a></li>
  </ul>
</div>
