<p>
  <label for="name">Name</label>
  <span class="field">
    <input name="name" type="text" id="name" value="<%= contact.name %>">
  </span>
</p>
<p>
  <label for="phone">Phone</label>
  <span class="field">
    <input name="phone" type="tel" id="phone" value="<%= contact.phone %>">
  </span>
</p>
<p>
  <label for="rings">Rings</label>
  <span class="field">
    <input name="rings" type="number" id="rings" value="<%= contact.rings ||= ENV['DEFAULT_RINGS'] %>">
    maximum
  </span>
</p>
<hr>
<p>
  <span class="buttons">
    <input type="submit" value="Save contact">
    <a href="/contacts" class="secondary">Cancel</a>
  </span>
</p>
